.main {
  margin: auto;
  width: 100%;
  background-color: #eceff1;
}
.partA {
  /* border: 1px solid red; */
  height: 200px;
  width: 100%;
  z-index: 0;
  background-color: #4e77ce;
}
.partB {
  border: 1px solid green;
  background-color: #eceff1;
  z-index: 0;
}
.table-div {
  margin: auto;
  z-index: 1;
  /* border: 1px solid red; */
  width: 80%;
  border-radius: 1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.sub-heading {
  margin: auto;
  /* border: 1px solid red; */
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
}
.plus {
  color: #66d3a0;
}
.minus {
  color: #f44f43;
}
.name-div {
  display: flex;
}
.img-size img {
  width: 50%;
  margin-right: 0%;
}
.loadbutton {
  background-color: #16c682;
  color: white;
  border-radius: 20px;
  border: none;
  margin-top: 20px;
  /* padding: 10px; */
  width: 8%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
